*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 43.75em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 34.375em) {
    html {
      font-size: 40%; } }

body {
  position: relative;
  font-family: 'Rubik', sans-serif;
  background-color: #0f1424;
  color: white;
  display: grid;
  grid-template-columns: 25rem 50%;
  justify-content: center;
  align-content: center;
  align-items: start;
  gap: 3rem;
  padding: 10rem 3rem; }
  @media only screen and (max-width: 43.75em) {
    body {
      grid-template-columns: 80%;
      padding: 7rem 3rem; } }

.user {
  background-color: #1c1f4a;
  border-radius: 2rem; }
  .user__info {
    background-color: #5847eb;
    padding: 3rem;
    padding-bottom: 7rem;
    border-radius: 2rem; }
    @media only screen and (max-width: 43.75em) {
      .user__info {
        padding: 3rem; } }
    .user__info-photo {
      width: 8rem;
      border: 2px solid white;
      border-radius: 50%;
      display: block;
      margin-bottom: 4rem; }
      @media only screen and (max-width: 43.75em) {
        .user__info-photo {
          margin-bottom: 0; } }
    .user__info-report {
      display: block;
      font-size: 1.2rem;
      color: #bdc1ff;
      margin-bottom: .7rem; }
      @media only screen and (max-width: 43.75em) {
        .user__info-report {
          font-size: 2rem; } }
    .user__info-name {
      font-size: 4rem;
      font-weight: 300; }
      @media only screen and (max-width: 43.75em) {
        .user__info-name {
          font-size: 3rem; } }
    @media only screen and (max-width: 43.75em) {
      .user__info {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 2rem; } }
  .user__action {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    font-size: 1.7rem; }
    .user__action > * {
      cursor: pointer;
      color: #bdc1ff;
      padding: 1rem; }
    .user__action-daily:hover, .user__action-weekly:hover, .user__action-monthly:hover {
      color: white; }
    @media only screen and (max-width: 43.75em) {
      .user__action {
        padding: 2rem 3rem;
        flex-direction: row;
        justify-content: space-between;
        font-size: 2rem; } }

.active {
  color: white; }

.details {
  background-color: transparent;
  position: relative;
  top: 50%;
  transform: translateY(-50%); }
  .details__list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 3rem; }
    @media only screen and (max-width: 43.75em) {
      .details__list {
        grid-template-columns: minmax(25rem, 1fr); } }
  .details__item {
    background-color: white;
    --color-work: hsl(15, 100%, 70%);
    --color-play: hsl(195, 74%, 62%);
    --color-study: hsl(348, 100%, 68%);
    --color-exercise: hsl(145, 58%, 55%);
    --color-social: hsl(264, 64%, 52%);
    --color-self-care: hsl(43, 84%, 65%);
    display: flex;
    flex-direction: column-reverse;
    font-size: 1.5rem;
    border-radius: 2rem;
    border-bottom-left-radius: 5rem;
    border-bottom-right-radius: 5rem; }
    .details__item--work {
      background-color: var(--color-work); }
    .details__item--play {
      background-color: var(--color-play); }
    .details__item--study {
      background-color: var(--color-study); }
    .details__item--exercise {
      background-color: var(--color-exercise); }
    .details__item--social {
      background-color: var(--color-social); }
    .details__item--self-care {
      background-color: var(--color-self-care); }
    .details__item-info {
      margin-top: -5rem;
      position: relative;
      background-color: #1c1f4a;
      padding: 3rem;
      display: grid;
      grid-template-columns: max-content max-content;
      justify-content: space-between;
      grid-row-gap: 1.3rem;
      border-radius: 2rem;
      z-index: 2; }
      @media only screen and (max-width: 43.75em) {
        .details__item-info {
          align-items: center; } }
    .details__item-info:hover {
      background-color: #252a65; }
    .details__item-more {
      padding: .3rem;
      cursor: pointer; }
      @media only screen and (max-width: 43.75em) {
        .details__item-more {
          justify-self: end; } }
    .details__item-action {
      font-size: 1.7rem;
      font-weight: 500;
      margin-bottom: 1rem; }
      @media only screen and (max-width: 43.75em) {
        .details__item-action {
          font-size: 2rem; } }
    .details__item-hours {
      font-size: 5rem;
      font-weight: 300; }
      @media only screen and (max-width: 43.75em) {
        .details__item-hours {
          font-size: 4rem; } }
    .details__item-last {
      grid-column: 1 / -1;
      font-size: 1.3rem;
      color: #bdc1ff; }
      @media only screen and (max-width: 43.75em) {
        .details__item-last {
          font-size: 1.8rem;
          grid-column: auto; } }
    .details__item-bg {
      overflow: hidden;
      padding-right: 2rem;
      display: flex;
      justify-content: end;
      align-items: start;
      height: 10rem; }
    .details__item-img {
      right: 0;
      transform: translateY(-0.7rem);
      z-index: 1; }

.settings {
  position: absolute;
  top: 17%;
  right: 22%;
  width: 20rem;
  height: 10rem;
  border-radius: 1.5rem;
  border-top-right-radius: 0;
  background-color: #5847eb;
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity .1s ease-in-out, scale .1s ease-in-out;
  transform-origin: top right;
  filter: blur(1px);
  opacity: 0;
  scale: 0;
  z-index: 100; }
  @media only screen and (max-width: 43.75em) {
    .settings {
      font-size: 1.8rem;
      height: 15rem; } }
  .settings__background-color {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: .7rem; }
    .settings__background-color input {
      margin: .5rem;
      width: 2rem;
      height: 2rem;
      border: none;
      outline: none; }
  .settings__reset {
    padding: .5rem;
    border-radius: 1rem;
    cursor: pointer;
    background-color: #ba2828; }

.settings.animate {
  filter: blur(0);
  opacity: 1;
  scale: 1; }
