.user {
    background-color: $color-dark-blue;
    border-radius: 2rem;

    &__info {
        background-color: $color-blue;
        padding: $gap-medium;
        padding-bottom: 7rem;
        border-radius: 2rem;

        @include respond($bp-medium){
            padding: $gap-medium;
        }

        &-photo {
            width: 8rem;
            border: 2px solid white;
            border-radius: 50%;
            display: block;
            margin-bottom: 4rem;

            @include respond($bp-medium){
                margin-bottom: 0;
            }
        }

        &-report {
            display: block;
            font-size: 1.2rem;
            color: $color-pale-blue;
            margin-bottom: .7rem;

            @include respond($bp-medium){
                font-size: 2rem;
            }
        }

        &-name {
            font-size: 4rem;
            font-weight: 300;

            @include respond($bp-medium){
                font-size: 3rem;
            }
        }

        @include respond($bp-medium){
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 2rem;
        }
    }

    &__action {
        padding: $gap-medium;
        display: flex;
        flex-direction: column;
        font-size: 1.7rem;

        & > * {
            cursor: pointer;
            color: $color-pale-blue;
            padding: 1rem;
        }

        &-daily:hover,
        &-weekly:hover,
        &-monthly:hover {
            color: white;
        }

        @include respond($bp-medium){
            padding: 2rem $gap-medium;
            flex-direction: row;
            justify-content: space-between;
            font-size: 2rem;
        }
    }
}

.active {
    color: white;
}